{
   
    "models": [
        {
            "id": "google-ai",
            "name": "谷歌AIFlash2.0",
            "provider": "google",
            "apiKey": "AIzaSyAxPOoOh-zAvC7FoFaxKd15E1NDGKhotAI",
	   "apiBase": " https://generativelanguage.googleapis.com/v1beta",
            "model": "gemini-2.0-pro-exp"
        },
        {
            "id": "google-ai-thinking",
            "name": "谷歌AI推理模型2.0",
            "provider": "google",
            "apiKey": "AIzaSyAxPOoOh-zAvC7FoFaxKd15E1NDGKhotAI",
	     "apiBase": " https://generativelanguage.googleapis.com/v1beta",
            "model": "gemini-2.0-flash-thinking-exp-01-21"
        },
        {
            "id": "deepseek-r1",
            "name": "DeepSeekR1",
            "provider": "DeepSeek",
            "apiKey": "sk-ad1ff5e8c749497fa7e1f4458c920dee",
	          "apiBase": "https://api.deepseek.com/v1",
            "model": "deepseek-reasoner"
        },
                {
            "id": "deepseek-v3",
            "name": "DeepSeekV3",
            "provider": "DeepSeek",
            "apiKey": "sk-ad1ff5e8c749497fa7e1f4458c920dee",
	          "apiBase": "https://api.deepseek.com/v1",
            "model": "deepseek-chat"
        },
        {
            "id": "doubao-deepseek-ai",
            "name": "火山引擎DeepSeek",
            "provider": "doubao",
            "apiKey": "62d5f1d3-08ca-47eb-8f9a-06c391e8d873",
	            "apiBase": "https://ark.cn-beijing.volces.com/api/v3",
            "model": "ep-20250209201106-gs6ps"
        },
        {
            "id": "doubao-deepseek-r1-ai",
            "name": "火山引擎DeepSeekR1",
            "provider": "doubao-r1",
            "apiKey": "62d5f1d3-08ca-47eb-8f9a-06c391e8d873",
	            "apiBase": "https://ark.cn-beijing.volces.com/api/v3",
            "model": "ep-20250209201034-rrm4v"
        },
        {
            "id": "deepseek-ai/DeepSeek-R1",
            "name": "硅基流动deepseekR1",
            "provider": "siliconflowDeepSeek-R1",
            "apiKey": "sk-oxndvuljdpkxtoklbibzjharjcrlglxqstrectxsxgkmbagt",
            "model": "deepseek-ai/DeepSeek-R1",
            "apiBase": "https://api.siliconflow.cn/v1"
        },
        {
            "id": "deepseek-ai/DeepSeek-V3",
            "name": "硅基流动deepseekV3",
            "provider": "siliconflowDeepSeek-V3",
            "apiKey": "sk-oxndvuljdpkxtoklbibzjharjcrlglxqstrectxsxgkmbagt",
            "model": "deepseek-ai/DeepSeek-V3",
            "apiBase": "https://api.siliconflow.cn/v1"
        },
        {
            "id": "Qwen/QVQ-72B-Preview",
            "name": "Qwen72BP",
            "provider": "siliconflowQVQ-72B-Preview",
            "apiKey": "sk-oxndvuljdpkxtoklbibzjharjcrlglxqstrectxsxgkmbagt",
            "model": "Qwen/QVQ-72B-Preview",
            "apiBase": "https://api.siliconflow.cn/v1"
        },
        {
            "id": "deepseek-tianyi-ai",
            "name": "天翼AI",
            "provider": "tianyi",
            "apiKey": "ae230490cbe44e278ca6501c765151e3",
            "modelId": "4bd107bff85941239e27b1509eccfe98",
            "apiBase": "https://wishub-x1.ctyun.cn/v1"
        },
        {
            "id": "huawei-ai",
            "name": "华为云AI",
            "provider": "huawei",
            "apiKey": "TVO7V-lo_T5Gw6bG8JZCVEvh9_5JOMRhSiGsKO1SgWQTNEAiBLIfdeeq_JuOoWs83kTGOK7taRtG8PL9ssOW5A",
            "model": "DeepSeek-V3",
            "apiBase": "https://infer-modelarts-cn-southwest-2.myhuaweicloud.com/v1/infers/f354eacc-a2c5-43b4-a785-e5aadca988b3/v1"
        },
        {
            "id": "yingweida",
            "name": "英伟达AI",
            "provider": "yingweida",
            "apiKey": "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",
	    "apiBase": "https://integrate.api.nvidia.com/v1",
            "model": "deepseek-ai/deepseek-r1"
        },
        {
            "id": "baidu-ai",
            "name": "百度AI",
            "provider": "baidu",
            "apiKey": "bce-v3/ALTAK-wenp69uz6hBxCNuA8k6Pp/dca67777296d2b616eca1bba3133e534d81423b7",
	     "apiBase": "https://qianfan.baidubce.com/v2",
            "model": "deepseek-r1"
        },
        {
            "id": "aliyun-ai",
            "name": "阿里云AI",
            "provider": "aliyun",
            "apiKey": "sk-593d236cbc12499f802566517a280d90",
	     "apiBase": "https://dashscope.aliyuncs.com/compatible-mode/v1",
            "model": "deepseek-r1"
        },
        {
            "id": "yidong-ai",
            "name": "移动云AI",
            "provider": "yidong",
            "apiKey": "yfEJErTs8-A8HpwFuko7SJjODx6ukF17pQg4E9PBLaY",
            "model": "DeepSeek-R1",
            "apiBase": "https://zhenze-huhehaote.cmecloud.cn/inference-api/exp-api/inf-1336781912337387520/v1"
        }
    ],
    "systemPrompts": {
        "default": "你是一个专业的AI助手。",
        "novel": "你是一个专业的小说策划师，擅长构建各类型小说的世界观设定。",
        "novel-character":  "你是一个专业的小说人物策划师，擅长构建小说人物设定和人物关系。",
        "novel-timeline": "你是一个专业的小说策划师，擅长构建小说章节大纲。",
        "editor":"你是一个专业的小说编辑，擅长对文字进行润色和修改。",
        "writer": "你是一个专业的小说作家，擅长对文字进行创作。",
        "reconstructor": "你是一个专业的小说重构助手，请根据提供的上下文信息和要求，对章节内容进行重构。保持故事的连贯性和整体性。",
        "summarizer": "你是一个专业的小说编辑，请对下面的章节内容进行全面的总结分析。请包含以下方面：\n1. 时间和地点\n2. 出场人物及其关键行为\n3. 故事情节摘要\n4. 重要的伏笔和隐喻（如果有）\n5. 本章节对整体故事的推动作用\n\n请用简洁清晰的语言进行总结。"
    }
}
